.layout-notification
  .chat
    .chat-side
      .chat-user.clearfix
        %h5
          = current_user.name
        .chat-user__actions
          = link_to '', new_group_path, class: 'chat-user__action fa fa-pencil-square-o'
          = link_to '', edit_user_registration_path, class: 'chat-user__action fa fa-cog'
      %ul.chat-groups
        - @groups.each do |group|
          =link_to group_chats_path(group.id) do
            %li.chat-group.chat-group__link
              %p.chat-group__name
                = group.name
              .chat-group__message
                - if group.chats.blank?
                  %p まだメッセージはありません
                -else
                  = group.chats.last.text
